.modal-fmi {
    max-width: fit-content;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 3.5rem;
}
.modal-body {
    overflow-y: scroll;
    max-height: 80vh;
    white-space: pre;
}
.table td {
    padding: 0.25rem;
}
.td-title {
    background-color: lightgrey;
}